[pull]
    rebase = true                                                                                                                                                                                                                                                                                               
[push]
    default = matching
